<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>SISTEMA VOZ DO OPERADOR - HOME</title>
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->

    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

    <link rel="stylesheet" type="text/css" media="screen" href="App/static/_css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="App/static/_css/toast.css">
    <link rel="stylesheet" type="text/css" href="App/static/_css/form.css">
    <link rel="stylesheet" type="text/css" href="App/static/_css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="App/static/_css/sidebarnav.css">
    
    <link rel="stylesheet" type="text/css" media="screen" href="App/static/_css/desktop.css">
    <link rel="stylesheet" href="App/static/_css/dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        .popover .popover-title {
         /*background: tomato !important;/*/
         font-size: 12px !important;
         background: #1a3c82 !important;
         color: white !important;
         text-align: center !important;
         text-transform: uppercase;
        }

    </style>

     <script type="text/javascript">
      $(document).ready(function(){
          $('#tabela').DataTable();
      });

     </script>



</head>
<body>


<body>
        
       <div class="area"></div>
          <nav class="main-menu">
            <ul>
                {navigation}
                 <li class="has-subnav">
                    <a href="index.php?class=LoginForm&method=logout&action=logout">
                      <i class="fa fa-sign-out"></i>
                        <span class="nav-text">
                           Sair
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
      <div id="menu">
        <div id="wrapper">
           <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="col-lg-12 col-xs-12">
                     <div class="row">
                         {content}
                     </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript">
    (function ($) {
 "use strict";
  
  $(document).ready(function() {
     $('#data-table-basic').DataTable();
  });
 
})(jQuery); 
  </script>

  <!-- <script src="App/static/_js/jquery.min.js"></script> -->
  <script src="App/static/_js/bootstrap.min.js"></script>
  <script src="App/static/_js/navbar.js"></script>
  <script src="App/static/_js/Form.js"></script>

</body>
</html>
