<!-- <table class="table table-bordered" width="100%">
  <tr bgcolor="#7A9BCB" style="color:white">
      <td colspan="8"><b>Produtos</b></td>
  </tr>
    <tr bgcolor="#C0C3E8">
        <td>Id</td>
        <td>Produto</td>
        <td>Telefone</td>
        <td>Email</td>
        <td>Total</td>
        <td>Aberto</td>
    </tr>
  {% for produto in produtos %}
  <tr>
      <td align="center"> {{produto.id_product}} </td>
      <td align="center"> {{produto.name_product}} </td>
     
  </tr>
  {% endfor %}
</table> -->